@using killerAppSemester2.Models 
@model User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
<p>
    <label for="Gebruikersnaam">Gebruikersnaam: </label>
    <input type="text" name="Gebruikersnaam" />
</p>
<p>
    <label for="Wachtwoord">Wachtwoord: </label>
    <input type="password" name="Wachtwoord" />
</p>
<p>
    <label for="Bevestig"></label>
    <input name="Bevestig" type="submit" class="btn-group-lg" value="Login"/>
</p>
</form>
