
@{
    ViewBag.Title = "VoegExtrasToe";
}

<h2>Voeg extras toe</h2>
<h4><a href=@Url.Action("VOpties")>Voeg opties toe</a></h4>
<h4><a href=@Url.Action("VerwijderOpties")>Verwijder opties</a></h4>
<p>

</p>
<h5><a href=@Url.Action("Stop")>terug</a></h5>