
@{
    ViewBag.Title = "GefaaldeLogin";
}

<h3>U heeft een van de volgende fouten gemaakt met het registreren.</h3>

<ul>
    <li>Veld leeg gelaten voor wachtwoord of gebruikersnaam</li>
    <li>De gebruikersnaam is eerder gebruikt</li>
    <li>Wachtwoord heeft is niet moet minster 6 tekens bevatten</li>
    <li>Wacht Bevat geen hoofdletter of geen cijfer</li>
</ul>

<h5>Klik <a href=@Url.Action("Registreer", "Home")>Hier</a> om opnieuw te registreren.</h5>

