@using killerAppSemester2.Models
@model List<MotorTransmissie>
@{
    ViewBag.Title = "OverzichtMT";
}
<p>
    <h2>OverzichtMT</h2>

    @foreach (MotorTransmissie u in Model)
    {
        <ul>
            <li>
                @u.Naam
            </li>
            <li>Liter\100km: @u.LiterPer100</li>
            <li>paardenkracht: @(u.Paardenkracht)pk</li>
            @if (u.Prijs == 0)
            {
                <li>geen extra kosten</li>
            }
            else
            {
                <li>Extra kosten zijn €@u.Prijs </li>
            }
        </ul>
    }
</p>
<p>
    <h2>Overzicht</h2>
    <ul>
        <li><button class="btn-default" style="margin-right:20px"><a href=@Url.Action("OverzichtKleuren")>Kleuren</a></button>
        <button class="btn-default"><a href=@Url.Action("OverzichtOpties",new { @id = Model[0].Id })>Opties van Uitvoering</a></button></li>
    </ul>
</p>